---
xslt:
  path: C:/code/sources2marc/SourcesMods2MarcXML.xsl

folders:
  exclude: ["DeletedRecords", "seeRefs", "xsd"]

dir_log_path: '<%= @sources_updater_log_path %>'

marc_file_path: "/usr/local/vufind/marcEx_all_bib.mrc"

sources_data_repo: '<%= @sources_data_repo %>'
sources_data_base_path: '<%= @sources_data_base_path %>'
sources_data_repo_branch: '<%= @sources_data_repo_branch %>'

solr_connection_path: 'http://localhost:8080/solr/biblio'

mail_to: ["ekilfeather@nli.ie", "gwilson@nli.ie"]
smpt_server: "172.16.1.11"
